@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0px;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  main > section{
    margin-top: 130px;
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
  }

  .display-flex{
    display: flex;
  }

    /* header and navbar part styles here */

  .header-section{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
  
  }
  .navbar{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  

  .nav-item{
    list-style: none;
    margin-right: 30px;
  } 
  .nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
  }
.brand{
  font-weight: bold;
  font-size: 2.8rem;}

  /* banner part styles start here  */

  .banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
  }
.banner-description{
  margin-bottom: 20px;

}
.banner-pic{
  width: 100%;
  margin-bottom: 30px;
}

/* teams and featured part styles */

.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

.features-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.part1{
  color: #727272;
}
.part2{
  color: black;
}
.part3{
  color: #FF900E;
}

.features-description{
  margin-bottom: 32px;
  color: #727272;
}

/* fact part styles */

.section2-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.facts-container{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.fact-card{
  border: 1px solid #FF900E ;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.fact-number{
  color: #424242;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
   font-size: 1.25rem;
   color: #424242;
}
.fact-description{
  max-width: 540px;
}
/* responsive media query */

@media  screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams
  {
  flex-direction: column;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
    margin-top: 15px;
  }
}

/* medium size device responsive */

@media  screen and (min-width:577px) and (max-width:992px) {
  .teams{
    flex-direction: column;
  }
  .our-features{
    margin: 50px auto;
  }
  
}