@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0px;
  }

  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
  }

  .display-flex{
    display: flex;
  }

    /* header and navbar part styles here */

  .header-section{
    background-color: rgba(255, 144, 14, 0.1);
    width: 100%;
  
  }
  .navbar{
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
  

  .nav-item{
    list-style: none;
    margin-right: 30px;
  } 
  .nav-link{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    font-weight: 500;
  }
.brand{
  font-weight: bold;
  font-size: 2.8rem;}

  /* banner part styles start here  */

  .banner, .navbar{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px;
  }
.banner-description{
  margin-bottom: 20px;

}
.banner-pic{
  width: 100%;
  margin-bottom: 30px;
}

/* responsive media query */

@media  screen and (max-width: 576px) {
  .navbar, .nav-links{
  flex-direction: column;
  }
}